/* your styles go here */
.ui-selectonemenu label.ui-selectonemenu-label{
   width: 100% !important;
}
.ui-selectonemenu{
    padding-right: 0 !important;
    min-width: 0% !important;
}
.ui-selectonemenu label {
    width: 100% !important;
}
.panelGridCenter {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.panelGridCenter tbody{
    width: 100% !important;
}


.panelGridCenter td,.panelGridCenter tr {
    text-align: center;
    vertical-align: middle !important;
}
.divCenter{
    text-align: center;    
    margin-top: 5px;
}

.sin-bordes{
    border-radius: 0px !important; 
    margin: 0px !important;
}

